body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0px;
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: black;
    color: white;
    font-size: 40px;
    padding: 4px;
}

.partesuperior {
    font-weight: 1000;
    border: 2px solid black;
    width: 80%;
    margin: 5px auto;
    border-radius: 8px;
}

.inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid;
    width: 90%;
    margin: 5px auto;
}

.input {
    margin: 10px;
}

.input input {
    min-height: 20px;
    min-width: 210px;
    outline: none;
    border: transparent;
    align-items: center;
    display: flex;
    justify-content: space-between;
    background-color: rgb(93, 56, 255);
    border-radius: 8px;
    color: white;
}

.input input::placeholder{
    color: white;
    font-size: 12px;
}


input[type="number"],
input[type="date"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: textfield; 
}

button{
    margin: 5px;
    border: 2px solid transparent;
    background-color: transparent;
    border-radius: 12px;
    padding: 5px;
    font-weight: 500;
    box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.55);
    cursor: pointer;
}

img{
    max-width: 300px;
    min-width: 300px;
    max-height: 300px;
    min-height: 300px;
    border: none;

}